<!DOCTYPE html>
<html>
<head>
  <title>Qna</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-current-user="<%= current_user ? current_user.id : 0 %>">
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<% if current_user %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Register', new_user_registration_path %>
<% end %>

<div id="search">
  <%= render 'search/form' %>
</div>

<%= yield %>

</body>
</html>
